<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Alerts e.g. approaching your limit</title>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>-->

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">

                    <tr>
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <p>Dear User,</p>
                                <br>

                                <p>
                                    Your <%= deviceType%>, <%= deviceName%> has reached a critical <%= parameter%> of <%= value%><%= degreeCelsius%>. This event occurred at <%= time%>.
                                </p>
                                <p>
                                    This alert was set to <%= comparator%> <%= threshold%><%= degreeCelsius%>.
                                </p>

                                <p>
                                    To view this device, please visit:
                                    <a href=<%= dashboardURL%>> <%= dashboardURL%></a>
                                </p>
                                <br>

                                <% include ../common/signature%>

                            </table>
                        </td>
                    </tr>
                </table>

                <% include ../common/footer%>
            </div>
        </td>
        <td></td>
    </tr>
</table>

<div class="body-wrap">


</div>
</body>
</html>
